/vendor/
/node_modules/
/.env
/.idea
/.vscode

# Docker
.docker/
docker-compose.override.yml


# IDE
*.swp
.idea/
.vscode/
*.sublime-workspace

# macOS
.DS_Store

# npm logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Composer logs
composer.phar
composer.lock

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
**/Pods/
/vendor/bundle/

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# Testing
/coverage